[Desktop Entry]
Name=appleJuice GUI
GenericName=appleJuice GUI
Comment=appleJuice GUI (connect to appleJuice Client)
Exec=applejuice-gui.ajgui %u
Icon=${SNAP}/meta/gui/applejuice-gui.png
Terminal=false
Type=Application
Categories=Java;Application;Network;
MimeType=x-scheme-handler/ajfsp;application/x-ajl;
StartupWMClass=AJCoreGUI
